<a href="https://colab.research.google.com/github/roberwangunda/demo/blob/master/SQL_Programming_Selecting_%26_Retrieving_Data_with_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Selecting & Retrieving Data with SQL

## 1.1 Let's first connect to our Database

In [1]:
# We will first load the sql extension into our environment
#
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed
#
%sql sqlite://

'Connected: @None'

## 1.2 Importing Data From a CSV File

In [2]:
# Importing the python libraries that we will need in this notebook
#
import csv
import pandas as pd

Then we will download our csv file from Interpol: [here](https://bit.ly/InterpolDataset) and World Cup [here](http://bit.ly/MSWorldCupData)  . Open the link and then on our browser  Click File > Save Page As > Save. Lastly, upload it to our current environment on Colaboratory by clicking View > Table of Contents > Files then Upload.  (NB: Do not load file from url)

In [6]:
# Loading the first table from a local CSV file
#
with open('/Countries.csv','r') as f:
    Interpol = pd.read_csv(f, index_col=0, encoding='utf-8')

In [7]:
# Then storing it in an SQL table of our in memory sqlite database
#
%sql DROP TABLE if EXISTS Interpol;
%sql PERSIST Interpol;

 * sqlite://
Done.
 * sqlite://

'Persisted interpol'

In [9]:
# We will load all the other dataset that we will need i.e. WorldCup
#
with open('/WorldCup.csv','r') as f:
    WorldCup = pd.read_csv(f, index_col=0, encoding='utf-8') 
    
%sql DROP TABLE if EXISTS WorldCup;
%sql PERSIST WorldCup;

 * sqlite://
Done.
 * sqlite://

'Persisted worldcup'

In [10]:
# Let's preview our Interpol table so that we can understand it
# Try to understand all the attributes (i.e columns) since this
# will be one of the datasets that we will work with through this session
#
%sql select * from Interpol limit 5;

 * sqlite://
Done.

[('Albania', 3, 3, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/al.gif'),
 ('Angola', 0, 0, 1, 'Northern Africa', 'http://www.crwflags.com/fotw/images/a/ao.gif'),
 ('Argentina', 2, 2, 1, 'South America', 'http://www.crwflags.com/fotw/images/a/ar.gif'),
 ('Australia', 1, 1, 2, 'Oceania', 'http://www.crwflags.com/fotw/images/a/au.gif'),
 ('Austria', 1, 1, 0, 'Europe', 'http://www.crwflags.com/fotw/images/a/at.gif')]

In [ ]:
# Let's preview our Worldcup table so that we can also understand it.
# You will be acting as a football commentator performing research on the 
# world cup matches played in the past.
# 
%sql SELECT * FROM WorldCup limit 5;

## 1.3 Select Single Columns

In [11]:
# Example 1
# This is how we will select a single column (i.e. the Country Column) from the Interpol Dataset
#
%%sql
SELECT Country FROM Interpol;

 * sqlite://
Done.

[('Albania',),
 ('Angola',),
 ('Argentina',),
 ('Australia',),
 ('Austria',),
 ('Bangladesh',),
 ('Belarus',),
 ('Belgium',),
 ('Belize',),
 ('Bolivia',),
 ('Botswana',),
 ('Brazil',),
 ('Cambodia',),
 ('Canada',),
 ('Cayman Islands',),
 ('Chile',),
 ('Colombia',),
 ('Congo',),
 ('Costa Rica',),
 ('Croatia',),
 ('Curaçao',),
 ('Czech Republic',),
 ('Denmark',),
 ('Dominican Republic',),
 ('Ecuador',),
 ('El Salvador',),
 ('Estonia',),
 ('Finland',),
 ('France',),
 ('Georgia, Asia',),
 ('Germany',),
 ('Greece',),
 ('Honduras',),
 ('Hungary',),
 ('India',),
 ('Indonesia',),
 ('Iraq',),
 ('Ireland',),
 ('Italy',),
 ('Kenya',),
 ('Lesotho',),
 ('Lithuania',),
 ('Macedonia',),
 ('Mali',),
 ('Malta',),
 ('Mexico',),
 ('Montenegro',),
 ('Morocco',),
 ('Mozambique',),
 ('Namibia',),
 ('New Zealand',),
 ('Nicaragua',),
 ('Norway',),
 ('Pakistan',),
 ('Panama',),
 ('Paraguay',),
 ('Peru',),
 ('Poland',),
 ('Qatar',),
 ('Romania',),
 ('Russia',),
 ('Serbia',),
 ('Slovakia',),
 ('Somalia',),
 ('South Africa',),
 ('Spain',),
 ('Swaziland',),
 ('Sweden',),
 ('Tanzania',),
 ('The Netherlands',),
 ('Turkey',),
 ('Ukraine',),
 ('United Kingdom',),
 ('United States',),
 ('Uruguay',),
 ('Venezuela',),
 ('Zambia',),
 ('Zimbabwe',)]

In [12]:
# Example 2
# Let's get the European countries without National fugitives  
# 
%%sql
SELECT Country FROM Interpol
WHERE 'National Fugitives' = 0 AND Region = 'Europe'

 * sqlite://
Done.

[]

In [13]:
# Example 3
# Let's select the regions without National fugitives
#
%%sql
SELECT Region FROM Interpol
WHERE 'National Fugitives' = 0

 * sqlite://
Done.

[]

### <font color="green"> 1.3 Challenges</font>

In [ ]:
# Challenge 1
# Using the Interpol Dataset, let us get the Northern African countries that  
# do not host possible fugitives or captured fugitives
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 2
# Using the Interpol Dataset, let us get the countries without a National fugitive and a Wanted fugitive
#
OUR CODE GOES HERE

In [ ]:
# Challenge 3
# Using the Interpol Dataset, which european countries have 3 National Fugitives
# 
OUR CODE GOES HERE

## 1.4 Multiple columns

In [ ]:
# Example 1
# Using the Interpol dataset, we would like to know the countries and their respective No. of Captured fugitives.
#
%%sql
SELECT Country, "Possible Hosted Fugitives / Captured Fugitives" FROM Interpol;

In [ ]:
# Example 2
# Using the world cup dataset, let's get teams that played in the matches with their respective referee
# 
%%sql
SELECT "Home_Team_Name", "Away_Team_Name", Referee FROM WorldCup;

In [ ]:
# Example 3
# Find out any three matches that have had 5 away goals  
#
%%sql
SELECT * FROM WorldCup Where "Away_Team_Goals" = 5 LIMIT 3

### <font color="green"> 1.4 Challenges</font>

In [ ]:
# Challenge 1
# From the Interpol dataset, let's get countries with their respective 
# No. of National fugitives and Wanted fugitives
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 2
# Using WorldCup dataset, find out which group 4 world cup matches 
# that were played in the city of Montevideo 
#
OUR CODE GOES HERE

In [ ]:
# Challenge 3
# Answering the same question as challenge 2, we would like to get only one match
# 
OUR CODE GOES HERE

## 1.5 Orderby

In [ ]:
# Example 1
# Using the Interpol dataset, let's get all our records ordering 
# them by the region in ascending order
#
%%sql
SELECT * FROM Interpol
ORDER BY Region ASC;

In [ ]:
# Example 2
# We can do the same as in example 1 but now having the records in descending order 
# as shown below
#
%%sql
SELECT * FROM Interpol
ORDER BY Country DESC;

In [ ]:
# Example 3 
# Using the Worldcup dataset, we can select 5 World Cup Group 1 matches played 
# after 1950 and having them ordered by city in ascending order as shown below
#
%%sql
SELECT * FROM WorldCup
WHERE Stage='Group 1' AND Year > 1950
ORDER BY City ASC
LIMIT 5;

### <font color="green"> 1.5 Challenges</font>

In [ ]:
# Challenge 1
# Using Interpol Dataset, select all the records and order them by National Fugitives in ascending order
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 2
# Using WorldCup Dataset, get the matches played in the Pocitos stadium and their attendance 
# later than 1950 and ordering them by attendance in descending order
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 3
# Get the World Cup Matches played in France after 1970 ordered by years in descending order 
#
OUR CODE GOES HERE

## 1.6 Where

In [ ]:
# Example 1
# From our Interpol dataset, let's find out which Countries have had three or more than three National Fugitives.
#
%%sql
SELECT * FROM Interpol
WHERE Region = 'Europe';

In [ ]:
# Example 2
# From our Interpol dataset, let's get the European countries and the no of Wanted fugitives they have
#
%%sql
SELECT Country, "Wanted Fugitives" FROM Interpol
WHERE Region = 'Europe';

In [ ]:
# Example 3
# From our WorldCup dataset, Let us select the home teams, away teams 
# and the respective no. of home team goals, no. of away team goals
# for the years after 1950
#
%%sql
SELECT Year, Stage, Home_Team_Name, Home_Team_Goals, Away_Team_Name, Away_Team_Goals FROM WorldCup
WHERE Year > 1930
LIMIT 7;

### <font color="green"> 1.6 Challenges</font>

In [ ]:
# Challenge 1
# From our Interpol dataset, find out which  country had the most Captured Fugitives 
#
OUR CODE GOES HERE

In [ ]:
# Challenge 2
# Using our Interpol dataset, get the european and asian countries;
#
OUR CODE GOES HERE

In [ ]:
# Challenge 3 
# From our Interpol dataset, find out which top countries had the least National fugities
#
OUR CODE GOES HERE

## 1.7 Between

In [ ]:
# Example 1
# Select the countries with national fugitives between 0 and 3 ordered by nationnal fugitives ascending order
#
%%sql
SELECT Country, "National Fugitives" FROM Interpol
WHERE "National Fugitives" BETWEEN 0 AND 3 ORDER BY "National Fugitives" ASC;

In [ ]:
# Example 2
# Select the countries with national fugitives not between 0 and 4 ordered by nationnal fugitives ascending order
#
%%sql
SELECT Country, "National Fugitives" FROM Interpol
WHERE "National Fugitives" NOT BETWEEN 0 AND 4 ORDER BY "National Fugitives" ASC;

In [ ]:
# Example 3
# Select any 5 matches played after 1950 which did not have the home team as Germany
#
%%sql
SELECT * FROM WorldCup
WHERE NOT "Home Team Name" = 'Germany' AND NOT Year < 1950
LIMIT 5;

### <font color="green"> 1.7 Challenges</font>

In [ ]:
# Challenge 1
# From the Interpol dataset, get all asian countries with wanted fugitives between 0 and 2
#
OUR CODE GOES HERE

In [ ]:
# Challenge 2
# From the World cup dataset, get all the matches that were played later than 1980 with an attendance less than 5000 
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 3 
# Which matches were played between the year 1990 and 2000?
# 
OUR CODE GOES HERE

## 1.8 Distinct

In [ ]:
# Example 1
# Let's find out which stadiums have hosted world cup matches
%%sql
SELECT DISTINCT Stadium FROM WorldCup;

In [ ]:
# Example 2
# Let's find out which world cup cities have hosted world cup matches after 2000
#
%%sql
SELECT DISTINCT City FROM WorldCup WHERE Year > 2000;

### <font color="green"> 1.8 Challenges</font>

In [ ]:
# Challenge 1
# Name the stages in the world cup and order them alphabetically by stage.
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 2
# Which cities hosted the world cup between 1950 and 2000?
#
OUR CODE GOES HERE

In [ ]:
# Challenge 3
# During which years was the world cup hosted in?
#
OUR CODE GOES HERE

## 1.9 Count

In [ ]:
# Example 1
# How many countries were listed in interpol's data? 
#
%%sql
SELECT COUNT(Country) FROM Interpol;

In [ ]:
# Example 2
# How many times has Brazil played home during world cup matches?
#
%%sql
SELECT COUNT("Home_Team_Name") FROM WorldCup where Home_Team_Name = 'Brazil';

In [ ]:
# Example 3
# Find out the number of times that stadiums have hosted matches in the World Cup? 
# 
%%sql
SELECT COUNT(Stadium)
FROM WorldCup;

### <font color="green"> 1.9 Challenges</font>

In [ ]:
# Challenge 1
# Using Interpol Dataset, find out how many wanted fugitives there are in Northern Africa.
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 2
# Using WorldCup Dataset, find out how many Possible Hosted Fugitives / Captured Fugitives 
# there are in Europe and Northern Africa.
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 3
# Using WorldCup dataset, find out how many away teams were played where a team scored more than 3 goals.
# 
OUR CODE GOES HERE

## 1.10 Groupby

In [ ]:
# Example 1
# Which three stadiums have hosted the most world cup games?
#
%%sql
SELECT Stadium, COUNT(Stadium)
FROM WorldCup
GROUP BY Stadium 
ORDER BY COUNT(Stadium) DESC LIMIT 3;

In [ ]:
# Example 2
# Which three stadiums have hosted the least world cup games?
#
%%sql
SELECT City, COUNT(Stadium)
FROM WorldCup
GROUP BY Stadium 
ORDER BY COUNT(Stadium) ASC LIMIT 3;

### <font color="green"> 1.10 Challenges</font>

In [ ]:
# Challenge 1
# What has been the largest no. of home goals scored by three home teams? 
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 2
# Which away teams have scored the lowest no. of away goals?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 3
# Select records from the World Cup Dataset grouping by City 
# 
OUR CODE GOES HERE

##1.11 Null Values

In [ ]:
# Example 1
# Select any one record from the world cup dataset that has null examples?
# 
%%sql
SELECT *
FROM WorldCup
WHERE Attendance IS NULL LIMIT 1;

In [ ]:
# Example 2
# Select any 5 records without null examples from the Worldcup Dataset 
#
%%sql
SELECT *
FROM WorldCup
WHERE City IS NOT NULL
LIMIT 5;

### <font color="green"> 1.11 Challenges</font>

In [ ]:
# Challenge 1
# Using the Worldcup dataset, select all the records that contain null values?
#
OUR CODE GOES HERE

In [ ]:
# Challenge 2
# Select all the records that do not contain null values from the Interpol dataset
#
OUR CODE GOES HERE