<a href="https://colab.research.google.com/github/roberwangunda/demo/blob/master/SQL_Programming_Getting_Started_with_Databases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

In [12]:
pip install notebook

Requirement already satisfied: notebook in /usr/local/lib/python3.6/dist-packages (5.2.2)
Requirement already satisfied: terminado>=0.3.3; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from notebook) (0.8.3)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.6/dist-packages (from notebook) (5.3.4)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.6/dist-packages (from notebook) (5.6.1)
Requirement already satisfied: tornado>=4 in /usr/local/lib/python3.6/dist-packages (from notebook) (4.5.3)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.6/dist-packages (from notebook) (4.10.1)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.6/dist-packages (from notebook) (4.6.3)
Requirement already satisfied: traitlets>=4.2.1 in /usr/local/lib/python3.6/dist-packages (from notebook) (4.3.3)
Requirement already satisfied: nbformat in /usr/local/lib/python3.6/dist-packages (from notebook) (5.0.7)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from notebook) (0.2.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from notebook) (2.11.2)
Requirement already satisfied: ptyprocess; os_name != "nt" in /usr/local/lib/python3.6/dist-packages (from terminado>=0.3.3; sys_platform != "win32"->notebook) (0.6.0)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client->notebook) (19.0.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from jupyter-client->notebook) (2.8.1)
Requirement already satisfied: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook) (3.1.5)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook) (1.4.2)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook) (0.8.4)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook) (0.3)
Requirement already satisfied: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook) (0.4.4)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook) (2.1.3)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook) (0.6.0)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from ipykernel->notebook) (5.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2.1->notebook) (1.12.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2.1->notebook) (4.4.2)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat->notebook) (3.2.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->notebook) (1.1.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert->notebook) (0.5.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert->notebook) (20.4)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0->ipykernel->notebook) (1.0.18)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0->ipykernel->notebook) (47.3.1)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0->ipykernel->notebook) (0.8.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0->ipykernel->notebook) (0.7.5)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0->ipykernel->notebook) (4.8.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook) (1.6.1)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.6/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook) (19.3.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /usr/local/lib/python3.6/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook) (0.16.0)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging->bleach->nbconvert->notebook) (2.4.7)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=4.0.0->ipykernel->notebook) (0.2.5)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat->notebook) (3.1.0)

# SQL Programming - Getting Started with Databases

## 1.1 Overview

Structured Query Language (SQL) is the language that is used to store, manipulate and retrieve data from many databases. It is the standard language for many relational database management systems which are a type of databases used by organisations across the world. These type of relational database management systems are used to store data in tables and examples of such include SQLite, MySQL, Postgres, Oracle etc. 

During the Moringa DataScience Prep, we will learn about SQL since as Data Scientists, we may be required to interact with this data through the use of SQL.

In this notebook, we will use SQL to learn how tables in databases are created. More specifically, we will learn how the structure of tables is defined which is critical in determining the quality of data. The better the structure, the easier it becomes to clean data.

## 1.2 Connecting to our Database

In [ ]:
# We will first load an sql extension into our environment
# This extension will allow us to work with sql on Colaboratory
#
%load_ext sql

# We will then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed.
# We will learn more about how databases are created later in prep.
#
%sql sqlite://

## 1.3 Creating a Table

In [19]:
# Example 1
# We will now define and create a table Classmates in our database (if it doesn't exist).
# This table will have fields: PersonID, LastName, FirstName, Phone and Residence as shown below.
# We will then fetch all records from the table.
#
%%sql 
CREATE TABLE if not exists Classmates (
    PersonID, 
    LastName, 
    FirstName, 
    Phone, 
    Residence
); 

SELECT * From Classmates;

 * sqlite:///chinook.db
Done.
Done.

[]

In [18]:
%%capture
%load_ext sql
%sql sqlite:///chinook.db

In [20]:
# Example 2
# In this example, we will create a table named Customers 
# with the columns Id, Name, Age, Address, Salary. 
# This kind of a table structure can be used by Sacco Management system.
# Then later fetch all records in the table.
# 
%%sql
CREATE TABLE if not exists Customers(
   Id,   
   Name,  
   Age,
   Address,  
   Salary
);

SELECT * From Customers;

 * sqlite:///chinook.db
Done.
Done.

[]

In [ ]:
# Example 3
# In this example, we will create a Students table for a student management system.
# This will contain the following fields,
# AdmissionsNo, FirstName, MiddleName, LastName, DateOfBirth and DateOfAdmission.
# Then fetch all records from Students table.
#
%%sql
CREATE TABLE if not exists Students(
    AdmissionsNo,
    FirstName,
    MiddleName,
    LastName,
    DateOfBirth,
    DateOfAdmission
);
 
SELECT * from Students;

### <font color="green"> 1.3 Challenges</font>

In [ ]:
# Challenge 1
# Let us create a table name PC with the following fields; 
# Code, model, speed, RAM, HD, CD and Price.
# We also specify the appropriate data types to our table, then display it.
#
OUR CODE GOES HERE

In [ ]:
# Challenge 2
# Let us create a table named Printer with 
# the following code, model, speed, type and Price.
#
OUR CODE GOES HERE

In [ ]:
# Challenge 3
# We can now write another table called Movies with the columns 
# id, title, director, year and length_minutes
# 
OUR CODE GOES HERE

## 1.4 Specifying Column Data Types

In [21]:
# Example 1
# While defining our table, we should specify different data types. 
# These datatypes will ensure that the particular column stores only
# records of that type i.e. The NationalID column in the defined Citizens table 
# below will only take integer values. These are values between  -2,147,483,648 to 2,147,483,647.
# If one would require to store much smaller or bigger values than the range above then
# they can use a different datatype i.e. tinyint or bigint.
# The datatype varchar will hold letters and numbers upto the specified limit
# in the brackets.
#
%%sql
CREATE TABLE IF NOT EXISTS Citizens (
    NationalID int,
    FirstName varchar(255),
    MiddleName varchar(255),
    PostalAddress varchar(255),
    Residence varchar(255));
SELECT * from Citizens;

 * sqlite:///chinook.db
Done.
Done.

[]

In [ ]:
# Example 2
# Specifying column data types will ensure that 
# the data that is stored within that table of the correct type.
# The data type date would ensure that the data stored is in the format YYYY-MM-DD.	
# The data type boolean supports the storage of two values: TRUE or FALSE.
# No other data of a different nature would be accepted to the table 
# than the one it was specified to have.
#
%%sql
CREATE TABLE IF NOT EXISTS artists(
    Artist_Id int,
    Artist_Name varchar(60),
    Artist_DOB date,
    Posters_In_Stock boolean);

SELECT * from artists;

In [24]:
# Example 3
# The data type text accepts upto 2,147,483,647 characters
# The data type float accepts floating point numbers i.e 183.3 as shown
# 
%%sql
CREATE TABLE IF NOT EXISTS Players (
    id int,
    name text,
    age integer,
    height float);

SELECT * from Players;

 * sqlite:///chinook.db
Done.
Done.

[]

In [11]:
pip install jupyterlab

Collecting jupyterlab
  Downloading https://files.pythonhosted.org/packages/9e/1b/3defee93c6057a50396b2e307db3b6531b09b87a77b2e7b72ca428a963ef/jupyterlab-2.1.5-py3-none-any.whl (7.6MB)
     |████████████████████████████████| 7.6MB 2.7MB/s
Requirement already satisfied: jinja2>=2.10 in /usr/local/lib/python3.6/dist-packages (from jupyterlab) (2.11.2)
Requirement already satisfied: tornado!=6.0.0,!=6.0.1,!=6.0.2 in /usr/local/lib/python3.6/dist-packages (from jupyterlab) (4.5.3)
Requirement already satisfied: notebook>=4.3.1 in /usr/local/lib/python3.6/dist-packages (from jupyterlab) (5.2.2)
Collecting jupyterlab-server<2.0,>=1.1.0
  Downloading https://files.pythonhosted.org/packages/e9/7b/08d35a18a6aa02203b9c58a370fdc82619d312039394cbc5ccd1434dff3f/jupyterlab_server-1.1.5-py3-none-any.whl
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.10->jupyterlab) (1.1.1)
Requirement already satisfied: nbformat in /usr/local/lib/python3.6/dist-packages (from notebook>=4.3.1->jupyterlab) (5.0.7)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.6/dist-packages (from notebook>=4.3.1->jupyterlab) (4.10.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.6/dist-packages (from notebook>=4.3.1->jupyterlab) (5.3.4)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from notebook>=4.3.1->jupyterlab) (0.2.0)
Requirement already satisfied: terminado>=0.3.3; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from notebook>=4.3.1->jupyterlab) (0.8.3)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.6/dist-packages (from notebook>=4.3.1->jupyterlab) (4.6.3)
Requirement already satisfied: traitlets>=4.2.1 in /usr/local/lib/python3.6/dist-packages (from notebook>=4.3.1->jupyterlab) (4.3.3)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.6/dist-packages (from notebook>=4.3.1->jupyterlab) (5.6.1)
Collecting jsonschema>=3.0.1
  Downloading https://files.pythonhosted.org/packages/c5/8f/51e89ce52a085483359217bc72cdbf6e75ee595d5b1d4b5ade40c7e018b8/jsonschema-3.2.0-py2.py3-none-any.whl (56kB)
     |████████████████████████████████| 61kB 7.8MB/s
Collecting json5
  Downloading https://files.pythonhosted.org/packages/2b/81/22bf51a5bc60dde18bb6164fd597f18ee683de8670e141364d9c432dd3cf/json5-0.9.5-py2.py3-none-any.whl
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from jupyterlab-server<2.0,>=1.1.0->jupyterlab) (2.23.0)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from ipykernel->notebook>=4.3.1->jupyterlab) (5.5.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from jupyter-client->notebook>=4.3.1->jupyterlab) (2.8.1)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client->notebook>=4.3.1->jupyterlab) (19.0.1)
Requirement already satisfied: ptyprocess; os_name != "nt" in /usr/local/lib/python3.6/dist-packages (from terminado>=0.3.3; sys_platform != "win32"->notebook>=4.3.1->jupyterlab) (0.6.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2.1->notebook>=4.3.1->jupyterlab) (4.4.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2.1->notebook>=4.3.1->jupyterlab) (1.12.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.3.1->jupyterlab) (0.8.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.3.1->jupyterlab) (0.6.0)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.3.1->jupyterlab) (0.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.3.1->jupyterlab) (3.1.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.3.1->jupyterlab) (2.1.3)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.3.1->jupyterlab) (1.4.2)
Requirement already satisfied: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.3.1->jupyterlab) (0.4.4)
Requirement already satisfied: pyrsistent>=0.14.0 in /usr/local/lib/python3.6/dist-packages (from jsonschema>=3.0.1->jupyterlab-server<2.0,>=1.1.0->jupyterlab) (0.16.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.6/dist-packages (from jsonschema>=3.0.1->jupyterlab-server<2.0,>=1.1.0->jupyterlab) (19.3.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from jsonschema>=3.0.1->jupyterlab-server<2.0,>=1.1.0->jupyterlab) (1.6.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from jsonschema>=3.0.1->jupyterlab-server<2.0,>=1.1.0->jupyterlab) (47.3.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->jupyterlab-server<2.0,>=1.1.0->jupyterlab) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->jupyterlab-server<2.0,>=1.1.0->jupyterlab) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->jupyterlab-server<2.0,>=1.1.0->jupyterlab) (2.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->jupyterlab-server<2.0,>=1.1.0->jupyterlab) (2020.6.20)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0->ipykernel->notebook>=4.3.1->jupyterlab) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0->ipykernel->notebook>=4.3.1->jupyterlab) (1.0.18)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0->ipykernel->notebook>=4.3.1->jupyterlab) (0.8.1)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0->ipykernel->notebook>=4.3.1->jupyterlab) (4.8.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert->notebook>=4.3.1->jupyterlab) (0.5.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert->notebook>=4.3.1->jupyterlab) (20.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->jsonschema>=3.0.1->jupyterlab-server<2.0,>=1.1.0->jupyterlab) (3.1.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=4.0.0->ipykernel->notebook>=4.3.1->jupyterlab) (0.2.5)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging->bleach->nbconvert->notebook>=4.3.1->jupyterlab) (2.4.7)
Installing collected packages: jsonschema, json5, jupyterlab-server, jupyterlab
  Found existing installation: jsonschema 2.6.0
    Uninstalling jsonschema-2.6.0:
      Successfully uninstalled jsonschema-2.6.0
Successfully installed json5-0.9.5 jsonschema-3.2.0 jupyterlab-2.1.5 jupyterlab-server-1.1.5

In [9]:
pip install --user --upgrade ipython-sql

Collecting ipython-sql
  Downloading https://files.pythonhosted.org/packages/ab/3d/0d38357c620df31cebb056ca1804027112e5c008f4c2c0e16d879996ad9f/ipython_sql-0.4.0-py3-none-any.whl
Requirement already satisfied, skipping upgrade: sqlalchemy>=0.6.7 in /usr/local/lib/python3.6/dist-packages (from ipython-sql) (1.3.17)
Requirement already satisfied, skipping upgrade: prettytable<1 in /usr/local/lib/python3.6/dist-packages (from ipython-sql) (0.7.2)
Requirement already satisfied, skipping upgrade: ipython>=1.0 in /usr/local/lib/python3.6/dist-packages (from ipython-sql) (5.5.0)
Requirement already satisfied, skipping upgrade: sqlparse in /usr/local/lib/python3.6/dist-packages (from ipython-sql) (0.3.1)
Requirement already satisfied, skipping upgrade: ipython-genutils>=0.1.0 in /usr/local/lib/python3.6/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from ipython-sql) (1.12.0)
Requirement already satisfied, skipping upgrade: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (0.8.1)
Requirement already satisfied, skipping upgrade: setuptools>=18.5 in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (47.3.1)
Requirement already satisfied, skipping upgrade: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (1.0.18)
Requirement already satisfied, skipping upgrade: pygments in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (2.1.3)
Requirement already satisfied, skipping upgrade: decorator in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied, skipping upgrade: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied, skipping upgrade: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied, skipping upgrade: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied, skipping upgrade: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied, skipping upgrade: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)
Installing collected packages: ipython-sql
Successfully installed ipython-sql-0.4.0

### <font color="green"> 1.4 Challenges</font>

In [13]:
# Challenge 1
# Let's create a table customer with CustID with datatype Integer, LastName 
# with datatype character(25), FirstName with datatype CharacOUR CODE GOES HERE

SyntaxError: ignored

In [14]:
# Challenge 3
# Create a table called sales that stores sales ID, customer ID, name, and address information.
# using also the appropriate data types
# 
OUR CODE GOES HERE

SyntaxError: ignored

In [ ]:
# Challenge 4
# Create a table called employees that stores employee number, employee name, 
# department, and salary information using appropriate data types
#
OUR CODE GOES HERE

## 1.5 Specifying Column Default Values

In [ ]:
# Example 1
# To specify column default values, let's define a table named artists 
# which contains three columns artist_id, artist_name and place_of_birth. 
# - artist_id will be of the type int
# - artist_name of the type varchar(60) 
# - place_of_birth varchar(60) with default 'Unknown'.
# NB: Changing the case of our data type definition will not have any effect.
#
%%sql 
CREATE TABLE Artists (
    artist_id INT, 
    artist_name VARCHAR(60), 
    place_of_birth VARCHAR(60)
);

In [ ]:
# Example 2
# To specify default values for the fields in a new table TeamMembers,
# We do the following as shown below.
# 
%%sql
CREATE TABLE IF NOT EXISTS TeamMembers (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER DEFAULT 'Unknown',
    height REAL);

### <font color="green"> 1.5 Challenges</font>

In [ ]:
# Challenge 1
# Let's create a new table called latest_players with similar fields to
# the already created Players table but specify the default value to unknown
#
OUR CODE GOES HERE

In [ ]:
# Challenge 2
# Let's create a new table called restaurants with the fields
# - name: string
# - description: text 
# - address: string, default value is unknown
# - user_id: integer
# - last_orders_at: date
# We can perform data type external research if need be
#
OUR CODE GOES HERE

## 1.6 Altering SQL Tables

In [ ]:
# Example 1: Adding a Column
# To add a column Gender to the Classmates table, we do the following, 
# then preview the table to see the changes
#
%%sql 
ALTER TABLE Classmates ADD Gender;
 
SELECT * FROM Classmates;

In [ ]:
# Example 2: Deleting a Column
# To delete a column Phone in a table above we do the following,
# Then fetch records from the table to confirm the changes
#
%%sql 
ALTER TABLE Classmates drop column Residence;

In [ ]:
# Example 3
# We can change the name of the Classmates table to Schoolmates by doing the following,
# Then fetching the records from the table to confirm the changes
#
%%sql  
ALTER TABLE Classmates RENAME TO Schoolmates;

SELECT * FROM Schoolmates;

### <font color="green"> 1.6 Challenges</font>

In [ ]:
# Challenge 1
# We can add a column DOB with the data type DATE to the TeamMembers table by;
# Hint: The data type comes after the column name
#
OUR CODE GOES HERE

In [ ]:
# Example 4: Confirmation
# Let's check our data type
%%sql
PRAGMA table_info(TeamMembers);

In [ ]:
# Challenge 2
# Let's now add a column STUDIO with the data type TEXT to the Artists table 
#
OUR CODE GOES HERE

In [ ]:
# Challenge 3
# We then rename the table Artists to MusicArtists
#
OUR CODE GOES HERE

## 1.7 Dropping SQL Tables

### 1.71 Truncating a Table

In [ ]:
# Example 1
# We may have two options while thinking about dropping (deleting) database tables. 
# These are truncating or dropping.
# We can use the TRUNCATE TABLE statement to delete the data inside 
# our table as shown below. Do note that this command retains the table itself.
# We will get to confirm the effect of using this command later when we get 
# to insert data to the table.
#
TRUNCATE TABLE Classmates;

### 1.72 Dropping a Table

In [ ]:
# Example 1
# We can drop our table by using the DROP TABLE statement as shown below
#
%sql DROP TABLE Classmates;

### <font color="green"> 1.7 Challenges</font>

In [27]:
# Challenge 1
# Lets drop the Players table from our database
#
%sql DROP TABLE players;

 * sqlite:///chinook.db
Done.

[]

In [28]:
# Challenge 2
# Lets drop the Customers table from our database 
#
%sql DROP TABLE Customers;

 * sqlite:///chinook.db
Done.

[]

In [31]:
# Challenge 3
# And finally truncate and drop our Artists table from our database

 * sqlite:///chinook.db
(sqlite3.OperationalError) no such table: Artists
[SQL: DROP TABLE Artists;]
(Background on this error at: http://sqlalche.me/e/e3q8)